---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro App">
	<main class="justify-center align-middle p-5 h-full">
		<Header/>
	</main>
</Layout>

<style>
	main {

	}
</style>
